.vscode
/#docs
/build/cmake

/build/borland/*
!/build/borland/build.bat
!/build/borland/README

/build/digitalmars/*
!/build/digitalmars/build.bat

/build/intel/*
!/build/intel/build.sh

/build/nasm/*
#!/build/nasm/build.bat

/build/tcc/*
!/build/tcc/build.bat

/build/vc6/*
!/build/vc6/c89atomic.dsw
!/build/vc6/c89atomic_basic/c89atomic_basic.dsp

/build/vc8/*
!/build/vc8/c89atomic.sln
!/build/vc8/c89atomic_basic/c89atomic_basic.vcproj

/build/vc10/*
!/build/vc10/c89atomic.sln
!/build/vc10/c89atomic_basic/c89atomic_basic.vcproj

/build/watcom/*
!/build/watcom/build.bat


/tests/bin
*.exe
a.out
